# Python
__pycache__/
*.pyc
*.egg-info/
venv/
env/
.venv/

# Unity
Library/
Temp/
Obj/
Build/
Builds/
Logs/
*.unityproj
*.sln

# Data
*.pt
*.pth
*.pkl
*.h5
*.ckpt

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp